gzip on;
gzip_comp_level 6;
gzip_vary on;
gzip_min_length  1000;
gzip_proxied any;
gzip_buffers 16 8k;

gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;

# Disable logging for favicon
location = /favicon.ico {
  log_not_found off;
  access_log off;
}

# Disable logging for robots.txt
location = /robots.txt {
  return 200 "User-agent: *\nDisallow: /";
  log_not_found off;
  access_log off;
}
