var gConfig = {
  "serverURL":"{{ pepyatka_frontend_scheme }}://{{ pepyatka_lite_hostname }}/v1/"
, "front":"{{ pepyatka_frontend_scheme }}://{{ pepyatka_lite_hostname }}/"
, "static":"{{ pepyatka_frontend_scheme }}://{{ pepyatka_lite_hostname }}/static/"
, "rtURL":"{{ pepyatka_frontend_scheme }}://{{ pepyatka_lite_hostname }}/socket.io/"
, "offset":"30"
, 'likesFold':4
, "tokenPrefix":"{{ pepyatka_auth_token_prefix }}"
};

var gCryptoPrivateCfg = {
  "srvurl":"https://moimosk.ru/cgi/secret"
, "mul":10
, "authurl": "https://moimosk.ru/v1/"
, "sk":16
, "encId":"MATRIX"
, "feed":"crypto-matrix"
};
