try {
  require('babel-register');
  require('babel-polyfill');
} catch (e) {
  // it's ok. might be already enabled
}

module.exports = {

  production: {
    client: 'postgresql',
    connection: {
      host:     '{{postgres_host | string}}',
      port:     {{postgres_port}},
      database: '{{postgres_dbname | string}}',
      user:     '{{postgres_user | string}}',
      password: '{{postgres_pass | string}}'
    },
    pool: {
      min: 2,
      max: 10
    },
    migrations: {
      tableName: 'knex_migrations'
    },
    textSearchConfigName: 'pg_catalog.russian'
  }

};
